<div class="main">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <app-seach [breeds]=breeds (notify)='onSeachNotify($event)'></app-seach>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <app-images [images]=images></app-images>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <app-pagination [pages]=maxPages (notify)='onGetPage($event)'></app-pagination>
      </div>
    </div>
  </div>
</div>
